{% extends '::base.html.twig' %}

{% block page %}
  {% if login_url %}
    {% image '@ShesTheFirstSignUpBundle/Resources/public/images/login_facebook.png' %}
      <div class="login">
        <a href="{{ login_url }}">
          <img src="{{ asset_url }}" alt="Williams-Sonoma" />
        </a>
      </div>
    {% endimage %}
  {% endif %}
  {% if user %}
  
    {% if admin %}
    
      <div class="admin">
  
        {% for signup in signups %}
        
            <div class="signup">
            
              <div class="avatar">
                <a href="http://www.facebook.com/{{ signup.id }}">
                 <img src="https://graph.facebook.com/{{ signup.id }}/picture?width=100&amp;height=100" alt="" />
                </a>
              </div>
              <div class="card">
                <h2><a href="http://www.facebook.com/{{ signup.id }}">{{ signup.firstname }} {{ signup.lastname }}</a></h2>
                <a href="mailto:{{ signup.email }}">{{ signup.email }}</a>
              </div>
            
            </div>
            
        {% endfor %}
      
      </div>
      
    {% else %}
    
      <div class="user">
      
        <h2>Thanks {{ user.firstname }}!</h2>
        
        <p>Don't forget to like <strong>She's the First</strong> on Facebook</p>
        
        <div class="fb-like" data-href="https://www.facebook.com/STF.UCF" data-send="false" data-width="288" data-show-faces="true"></div>
      
      </div>
    
    {% endif %}
    
  {% endif %}
  {% if logout_url %}
    <div class="logout">
      <a href="{{ logout_url }}">
        Logout of Facebook
      </a>
    </div>
  {% endif %}
{% endblock %}

{% block javascripts %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=137801623089103";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}